.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
body {
  background-color: #1976d2;
}
@font-face {
  font-family: IBM;
  src: url("/public/Fonts/IBM/IBMPlexSansArabic-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: IBM;
  src: url("/public/Fonts/IBM/IBMPlexSansArabic-Medium.ttf");
  font-weight: 400;
}
